# Contents of /etc/systemd/system/conf_reloader.service

[Unit]
Description=VyOs configuration reloader
After=network.target

[Service]
User=vyos
Group=vyattacfg
Type=simple
Restart=always
ExecStart=/opt/conf_reloader/.venv/bin/python /opt/conf_reloader/main.py
WorkingDirectory=/opt/conf_reloader

[Install]
WantedBy=multi-user.target