# Contents of /etc/systemd/system/gce_helper.service

[Unit]
Description=VyOs configuration reloader
After=network-online.target vyos.target vyos-http-api.target
DefaultDependencies=no

[Service]
User=root
Group=vyattacfg
Type=simple
Restart=always
RestartSec=30s
ExecStart=/opt/gce_helper/.venv/bin/python /opt/gce_helper/conf_reloader.py
WorkingDirectory=/opt/gce_helper

[Install]
WantedBy=multi-user.target