# Contents of /etc/systemd/system/gce_helper.service

[Unit]
Description=VyOs configuration reloader
Wants=network-online.target
After=network-online.target
#After=cloud-init.target
After=vyos-http-api.target

[Service]
User=root
Group=vyattacfg
Type=simple
Restart=always
RestartSec=30s
ExecStart=/opt/gce_helper/.venv/bin/python /opt/gce_helper/conf_reloader.py
WorkingDirectory=/opt/gce_helper

[Install]
WantedBy=multi-user.target